body {
    font-family: 'Roboto', sans-serif !important;
}

h3 {
    color: #C94612;
    border-bottom: solid 2px #DA771B;
    font-size: 19px;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
}

h1 {
    color: #005684;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
}

h2{
    font-size: 44px;
    line-height: 1.2;
    color: #2b2b2b;
    text-align: center;
    margin-bottom: 20px;
}

label{
    font-size: 15px;
    color: #005684;
}

.panel-success{
    
    background:#FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.10);
    transition: 0.3s;
    border: 1px solid #ddd;
    border-radius: 6px;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:15px auto 0;
    overflow:hidden;
    width: 30rem;
}

.panel-success:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.10);
}

.panel-body .text{
    position: relative;
    font-size: 14px;
    color: black;
    width: 250px;
    padding: 2px 16px;
}

.text-des{
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.6em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    text-align:justify;
}

.panel-success img{
    width: 100%;
    height: 40%;
    vertical-align: middle;
    border-radius: 6px 6px 0 0;
    display: block;
    margin: 0 auto;
    border: 0;
}

.panel-heading {
    height: 90px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
    background-color: #B7C4CF !important;
    border-color: #B7C4CF !important;
}

.panel-footer{
    font-size: 12px;
    text-align: center;
}

.panel-success h2{
    font-size: 18px;
    margin: 0;
    color: #A42F11;
    text-align: center;
}

.panel-success h5{
    font-size: 12px;
    color: #C94612;
    text-align: center;
}

.panel-success h4{
    font-size: 15px;
    color: #36A3CA;
    text-align: center;
}

.head-border-white {
    background: #F5851F;
    width: 20%;
    height: 0;
}

.glyphicon {
    font-size: 16px;
}

.error{
    color: #C00;
}

#app {
    margin-top: 51px;
}

img.thumbnail {
   width: 90px;
   height: 90px;
}

.navbar-inverse {
  position: absolute;
  font-family: 'Roboto', sans-serif !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F5851F;
    font-family: 'Roboto', sans-serif !important;
}

.navbar-inverse .navbar-brand {
    color: #F5851F;
    font-family: 'Roboto', sans-serif !important;
}

.app-form{
    margin-top: 25px;
}

.species-form{
    display: block-level;
    margin-bottom: 30px;
    margin: 0;
    width: 150px;
}

