<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lost Pet</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  </head>
  <body>

    <div class="container-fluid" id="app"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDNr7_4mExAVJZgp7MQpFTicSOb7SmRag"></script>
    <script src="{{ url_for('static', filename='bundle.min.js') }}"></script>
  </body>
</html>


